:root,
.App {
  margin: 0 auto;
  background: #f4ecde;
  background-attachment: fixed;

  --grey: #373737;
  --purple: #605060;
  --yellow: #e08a13;
}

.container {
  margin: 76px auto;
}

h1 {
  font-weight: 700;
  font-size: 72px;
  text-align: center;
  letter-spacing: -0.03em;
  color: var(--grey);
}

h2 {
  text-align: center;
  margin-top: 65px;
  font-weight: 600;
  font-size: 28px;
  letter-spacing: -0.02em;
  color: var(--purple);
}

.material-symbols-outlined {
  color: var(--purple);
  margin-left: 5px;
}
