:root,
.App {
  margin: 0 auto;
  background: #f4ecde;
  background-attachment: fixed;

  --grey: #373737;
  --purple: #605060;
  --yellow: #e08a13;
}

.container {
  margin: 76px auto;
}

h1 {
  font-weight: 700;
  font-size: 72px;
  text-align: center;
  letter-spacing: -0.03em;
  color: var(--grey);
}

.subheading {
  display: inline-flex;
  vertical-align: center;
}

h2 {
  text-align: center;
  margin-top: 50px;
  font-weight: 600;
  font-size: 24px;
  letter-spacing: -0.02em;
  color: var(--grey);
}

.material-symbols-outlined {
  color: var(--grey);
  margin-left: 5px;
}
