.Dictionary form {
  text-align: center;
  margin: 40px auto;
}

#word-searcher {
  padding: 6px 16px;
  border: 1px solid var(--purple);
  font-size: 14px;

  box-shadow: 0px 4px 4px -1px rgba(12, 12, 13, 0.1),
    0px 4px 4px -1px rgba(12, 12, 13, 0.05);
  border-radius: 16px;
  transition: all 100ms ease-in-out;
}

#word-searcher:hover {
  border: 1px solid var(--yellow);
}

#searcher {
  padding: 6px 16px;
  margin-left: 4px;
  letter-spacing: 0.1px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;

  color: #f4ecde;
  border: 1px solid var(--purple);
  background: var(--purple);
  box-shadow: 0px 4px 4px -1px rgba(12, 12, 13, 0.1),
    0px 4px 4px -1px rgba(12, 12, 13, 0.05);
  border-radius: 16px;

  transition: all 100ms ease-in-out;
}

#searcher:hover {
  border: 1px solid var(--yellow);
  background: var(--yellow);
}
