.Footer {
  margin-top: 350px;
  text-align: center;
  color: var(--grey);
  font-weight: 300;
}

.Footer a {
  color: var(--grey);
  transition: all 100ms ease-in-out;
}

.Footer a:hover {
  color: var(--yellow);
  cursor: pointer;
}
